.body_login{
    background-image: url("../img/template_hamburguer3.png");
    background-position: bottom;
    background-size: cover;
}

.login{
    width: 400px;
    margin: 40px auto;
    background-color: rgba(255, 255, 255, 0.947);
    padding: 20px;
    text-align: center;
    border-radius: 30px;
    max-width: 95%;
}

.login h2{
    font-size: 40px;
    color: rgba(20, 20, 20, 0.815);
    margin-bottom: 30px;
}

.login input{
    width: 100%;
    margin: 10px 0;
    padding: 10px;
    font-size: 20px;
    border-radius: 15px;
    border: 1px solid #ccc;
    color: rgba(20, 20, 20, 0.549);
}

.login div{
    text-align: left;
    padding: 10px;
    display: flex;
    align-items: center;
}

.login input[type=checkbox]{
    width: 30px;
    height: 30px;
}

.login input[type=submit]{
    border: none;
    color: white;
    font-weight: bolder;
    background-color: #ff9a00;
}

.login label{
    margin-left: 10px;
    font-size: 20px;
}

.links_login{
    font-size: 18px;
}

.meus_dados_box{
    max-width: 95%;
    width: 700px;
}

.meus_dados div{
    display: flex;
}

.meus_dados div label, .meus_dados div input{
    flex: 1;
}

/* Cadastro */

.cadastro{
    width: 600px;
}

.cadastro div{
    display: flex;
}

.cadastro input, .cadastro label{
    flex: 1;
}

/* Meus dados */

.div_excluir{
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    position: fixed;
    background-color: rgba(0, 0, 0, 0.175);
}

.box-excluir{
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #fff;
    border-radius: 5px;
    border: 1px solid rgba(0, 0, 0, 0.251);
    padding: 20px;
    text-align: center;
}

.box-excluir div{
    margin: 20px;
    display: flex;
    flex-wrap: wrap;
}

.box-excluir input[name=senha]{
    width: 100%;
    padding: 5px 10px;
    border-radius: 15px;
    font-size: 18px;
    color: rgba(0, 0, 0, 0.514);
    border: 1px solid #ccc;
}

.botoes_excluir{
    border: none;
    color: white;
    padding: 20px;
    font-size: 18px;
    cursor: pointer;
    border-radius: 5px;
    flex: 1;
    margin: 5px;
}